<div class="container mt-5 ">
  <div class="text-center">
    <h4><%= t('.sign_up') %></h4>
  </div>

  <div class="card card-container ">
  <img class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-3">
        <h5><span class="badge badge-pill badge-danger">必須</span><%= f.label :name %></h5>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: '山田 太郎' %>
      </div>

      <div class="field mt-3">
        <h5><span class="badge badge-pill badge-danger">必須</span><%= f.label :birthday %></h5>
        <%= raw sprintf(
          f.date_select( :birthday, use_month_numbers: true, start_year: (Time.now.year - 69), end_year: (Time.now.year - 18), default: Date.new(1989, 1, 1), date_separator: '%s' ),
        '年 ', '月 ') + '日' %><br />
        <small>年齢は他のユーザーには公開されません。マイページに年代のみ表示されます。</small>
      </div>

      <div class="badge field mt-3">
        <h5><span class="badge badge-pill badge-danger">必須</span><%= f.label :gender %></h5>
      </div>
      <br>
      <%= f.label :男性  %>
      <%= f.radio_button :gender, :man %>
      <%= f.label :女性  %>
      <%= f.radio_button :gender, :woman %>
      <%= f.label :その他  %>
      <%= f.radio_button :gender, :other %>
      <p><small> 性別は他のユーザーには公開されません。</small></p>

      <div class="field mt-3">
        <h5><span class="badge badge-pill badge-danger">必須</span><%= f.label :email %></h5>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@email.com' %>
      </div>

      <div class="field mt-3">
        <h5><span class="badge badge-pill badge-danger">必須</span><%= f.label :password %>
        <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %></h5>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mt-3">
        <h5><span class="badge badge-pill badge-danger">必須</span><%= f.label :password_confirmation %></h5>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions mt-3 ">
        <%= f.submit t('.sign_up'), class: "btn btn-lg btn-secondary btn-block btn-signin" %>
      </div>
    <% end %>
  </div>
</div>   <%#= render "devise/shared/links" %>
