<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <h4><span class="label label-danger">aaa</span><%= f.label :name %></h4><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, use_month_numbers: true, start_year: (Time.now.year - 69), end_year: (Time.now.year - 18), default: Date.new(1989, 1, 1) %><br />
    <small>年齢は他のユーザーには公開されません。マイページに年代のみ表示されます。</small>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.label :男性  %>
    <%= f.radio_button :gender, :man %>
    <%= f.label :女性  %>
    <%= f.radio_button :gender, :woman %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@email.com' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
