<% @experiences.each do |experience| %>
  <div class="h5 card mt-5">
    <div class="card-body" >
      <p class="mt-2">title:<%= experience.title %></p>
      <p>
        学習時間:<%= experience.learn_hour %>時間
        目的：
      </p>
    </div>
    <div class="card-footer text-right" >
      <%= link_to '詳細', experience, class: "btn btn-outline-secondary"  %>
      <% if experience.user == current_user %>
        <%= link_to '編集', edit_experience_path(experience), class: "btn btn-outline-secondary"  %>
        <%= link_to '削除', experience, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary"  %>
      <% end %>
      <%= experience.updated_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
  </div>
<% end %>

<div class="field mt-4">
  <%= form.label :在籍期間 %>
  <%= form.date_field :start_day %> 〜
  <%= form.date_field :end_day %>
</div>