<div class="container text-center" style=" margin-top: 100px;" >

  <div class="field mt-3"">
    <strong>在籍期間:</strong>
    <%= @career.start_day %> ~
    <%= @career.end_day %>
  </div>

  <br>
  <div class="field mt-3"">
    <strong>Industry: </strong><%= @career.industry %>
  </div>
  
  <br>
  <div class="field mt-3"">
    <strong>Occupation: </strong><%= @career.occupation %> 
  </div>

  <br>
  <div class="field mt-3"">
    <strong>Company scale:</strong><%= @career.company_scale %>
  </div>

  <br>
  <div class="field mt-3"">
    <strong>Position:</strong><%= @career.position %>
  </div>

  <br>
  <div class="field my-3"">
    <strong>Content</strong><br>
    <%= safe_join(@career.content.split("\n"),tag(:br)) %>
  </div>

  

  <%= link_to 'Back', user_path(current_user), class: "text-dark " %>
</div>
