<div class="container text-center" style=" margin-top: 100px;">
  <% if user_signed_in? && @user == current_user %>
    <h4>マイページ</h4>
  <% else %>
    <h4><%= @user.name %>のページ</h4>
  <% end %>

  <div class=" con">
    <% if @user.image? %>
      <%= image_tag @user.image.url %>
      <%#= image_tag @user.image, size: '100x100' %>
    <% else %>
      <%= image_tag asset_path("default_image.webp"),  { class: "avatar me-3", alt: "プロフィール画像", width: "200" } %>
      <%#= image_tag (asset_path'no_image.png') %>
      <%#= image_tag 'icon.png', size: '100x100' %>
    <% end %>
  </div>

  <br>
  <p class="h4">
    氏名: <%= @user.name %> | 年代: <%= @user_age %>代 | 性別: <%= @user.gender %>
    <%= link_to "編集", edit_user_registration_path, class: "my-2 btn btn-outline-secondary" if current_user == @user %>
  </p>
  
  <div class="mb-4" >
    <%= link_to '経歴を登録する', new_career_path, class: "mt-3 text-dark btn btn-outline-secondary" if @user == current_user %>
  </div>

  <p>
    <a class="btn btn-outline-secondary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">経歴一覧</a>

    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">経験談一覧</button>

    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample3">いいね一覧</button>
  </p>

  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <% if @careers.present? %>
            <p class="h3 mt-5">経歴一覧</p>
            <% @careers.each do |career| %>
              <div class="h5 card mt-3">
                <p class="mt-2">在籍期間:<%= career.start_day.strftime('%Y年 %m月') %> 〜 <%= career.end_day.strftime('%Y年 %m月') %></p>
                <p>業種:<%= career.industry %></p> 
                <p>職種:<%= career.occupation %></p>
                <p>企業規模:<%= career.company_scale %></p> 
                <p>役職:<%= career.position %></p>
                <br>
                <p>業務内容や実績</p>
                <%= career.content %>
              </div>
              <div class="card-footer text-right" >
                <%#= link_to 'Show', career, class: "btn btn-outline-secondary"  %>
                <% if career.user == current_user %>
                  <%= link_to '編集', edit_career_path(career), class: "btn btn-outline-secondary"  %>
                  <%= link_to '削除', career, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary"  %>
                <% end %>  
              </div>
            <% end %>
          <% else %>
            <p class="h3">経歴が投稿されていません</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
        <% if @experiences.present? %>
          <p class="h3 mt-5">経験談一覧</p>
            <% @experiences.each do |experience| %>
              <div class="h5 card mt-5">
                <div class="card-body" >
                  <p class="mt-2">title:<%= experience.title %></p>
                  <p>
                    学習時間:<%= experience.learn_hour %>時間
                    目的：
                  </p>
                </div>
                <div class="card-footer text-right" >
                  <%= link_to '詳細', experience, class: "btn btn-outline-secondary"  %>
                  <% if experience.user == current_user %>
                    <%= link_to '編集', edit_experience_path(experience), class: "btn btn-outline-secondary"  %>
                    <%= link_to '削除', experience, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary"  %>
                  <% end %>
                  <%= experience.updated_at.strftime("%Y/%m/%d %H:%M") %>
                </div>
              </div>
            <% end %>
        <% else %>
          <p class="h3">経験談が投稿されていません</p>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card card-body">
        <% if @experiences.present? %>
          <p class="h3 mt-5">お気にり一覧</p>
            <% @experiences.each do |experience| %>
              <div class="h5 card mt-5">
                <div class="card-body" >
                  <p class="mt-2">投稿者：<%= link_to experience.user.name, user_path(experience.user_id) %></p>
                  <p class="mt-2">title:<%= experience.title %></p>
                  <p>
                    学習時間:<%= experience.learn_hour %>時間
                    目的：
                  </p>
                </div>
                <div class="card-footer text-right" >
                  <%= link_to '詳細', experience, class: "btn btn-outline-secondary"  %>
                  <% if experience.user == current_user %>
                    <%= link_to '編集', edit_experience_path(experience), class: "btn btn-outline-secondary"  %>
                    <%= link_to '削除', experience, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary"  %>
                  <% end %>
                  <%= experience.updated_at.strftime("%Y/%m/%d %H:%M") %>
                </div>
              </div>
            <% end %>
        <% else %>
          <p class="h3">お気に入りしている投稿はありません</p>
        <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>









<!-- Main Content-->
    <div class="main" style="background-color:#dddddd;">
      <div class="container px-4 px-lg-5" >
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7" >
            
            <div class="post-preview mt-5" style="background-color:white; ">
              <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
              <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
              <p class="post-meta">Posted by on September 24, 2022 </p>
            
            
            <hr class="my-4" />
            
           
              <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
              <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
              <p class="post-meta">Posted by on September 24, 2022 </p>
            
            
            <hr class="my-4" />
           
              <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
              <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
              <p class="post-meta">Posted by on September 24, 2022 </p>
           
            
            <hr class="my-4" />
            
              
          </div>
            <div class="container text-center mb-5">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary mx-2 py-3" %><%= link_to "ログイン", new_user_session_path, class: "btn btn-primary py-3" %>
            </div>












            <hr class="my-4" />
          <div class="post-preview">
            <h2 class="post-title">Growth Tellerだからできること</h2>
            <h4 class="post-subtitle">Problems look mighty small from 150 miles up</h4>
          </div>
          
          <hr class="my-4" />


div class="container px-4 px-lg-5" >
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-preview">
            <h2 class="post-title"></h2>
            <h4 class="container">
              <p>自己啓発を行う「目的」や「手法」が曖昧なまま勉強をしてしまうと、自身の理想に近づくために、遠回りだったとなることが少なくありません。</p>
              <p>また自己啓発の「目的」や「手法」は、各々の状況（年齢・キャリア）によって異なるため、ネット検索で出てきた情報のうち、何が自分にとって最適で、取り入れるべきか判断することが難しい状況です。</p>
            </h4>
          </div>