<h1>Users#show</h1>

<div class="icon">
  <% if @user.image? %>
    <%= image_tag @user.image.url %>
    <%#= image_tag @user.image, size: '100x100' %>
  <% else %>
    <%= image_tag asset_path("default_image.webp"),  { class: "avatar me-3", alt: "プロフィール画像", width: "200" } %>
    <%#= image_tag (asset_path'no_image.png') %>
    <%#= image_tag 'icon.png', size: '100x100' %>
  <% end %>
</div>

<br>
<p>氏名: <%= @user.name %> | 年代: <%= @user_age %>代 | 性別: <%= @user.gender %></p>
<p><%= link_to "編集", edit_user_registration_path, class: "btn btn-outline-primary" if current_user == @user %></p>

<br>
<%= link_to 'New Career', new_career_path %>

<br>
<br>
<% if @careers.present? %>
  <table>
    <thead>
      <tr>
        <th>Industry</th>
        <th>Occupation</th>
        <th>Company scale</th>
        <th>Position</th>
        <th>Start day</th>
        <th>End day</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @careers.each do |career| %>
        <tr>
          <td><%= career.industry %></td>
          <td><%= career.occupation %></td>
          <td><%= career.company_scale %></td>
          <td><%= career.position %></td>
          <td><%= career.start_day.strftime('%Y/%m') %></td>
          <td><%= career.end_day.strftime('%Y/%m') %></td>
          <td><%= career.content %></td>
          <td><%#= link_to 'Show', career %></td>
          <td><%= link_to 'Edit', edit_career_path(career) %></td>
          <td><%= link_to 'Destroy', career, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>直近の経歴を登録しましょう！</p>
<% end %>



