<div class="container" style=" margin-top: 50px;" >
  <div class="card card-body">

    <% unless @experience.user == current_user %>
    <p>
      <a>投稿者：</a>
      <%= link_to @experience.user.name, user_path(@experience.user_id) %>
    </p>
    <% end %>

    <p>
      <a>学習内容：</a>
      <%= @experience.title %>
    </p>

    <div class="mt-5">
      <a>【学習時の業種】</a>
      <%= @experience.industry %> /
    
      <a>【学習時の職種】</a>
      <%= @experience.occupation %>
    </div>

    <div class="mt-5">
      <a>【自己啓発種類】</a>
      <%= @experience.study_method %>
    
      <a>【学習開始時期】</a>
      <%= @experience.learn_age %>
    
      <a>【総学習時間】</a>
      <%= @experience.learn_hour %>時間
    </div>

    <div class="mt-5">
      <a>【学習のきっかけや理由】</a><br>
      <%= safe_join(@experience.trigger.split("\n"),tag(:br)) %>
    </div>

    <div class="mt-5">
      <a>【学習時の工夫】</a><br>
      <%= safe_join(@experience.ingenuity.split("\n"),tag(:br)) %>
    </div>

    <div class="mt-5">
      <a>【学習の結果や感想】</a><br>
      <%= safe_join(@experience.result.split("\n"),tag(:br)) %>
    </div>

    <br>

    <%# if current_user.favorites.where(@experience_id).exists? %>
      <%#= link_to '❤️', experience_favorite_path(@experience), method: :delete, class: 'text-decoration-none' %><%#= @experience.favorites.count %>
    <%# else %>
      <%#= link_to '♡', experience_favorites_path(@experience), method: :post, class: 'text-decoration-none' %><%#= @experience.favorites.count %>
    <%# end %>
  </div>

  <div class="mt-3">
    <% if @favorite.present? %>
      <%= link_to '❤️', experience_favorite_path(@experience), method: :delete,  class: 'text-decoration-none' %><%= @experience.favorites.count %>
    <% else %>
      <%= link_to '♡', experience_favorites_path(@experience), method: :post,  class: 'text-decoration-none' %><%= @experience.favorites.count %>
    <% end %>
    
    <%#= link_to '戻る', 'javascript:history.back()', class: " btn btn-outline-secondary" %>
    <%#= link_to '経験談一覧', experiences_path, class: "mt-4 btn btn-outline-secondary" %>
    <%#= link_to '', user_path(current_user), class: "mt-4 btn btn-outline-secondary" %>
  </div>
</div>