<div class="h4 container" style=" margin-top: 100px;" >

  <p>
    <a>Title:</a>
    <%= @experience.title %>
  </p>

  <div class="mt-4">
    <a>【Industry】</a>
    <%= @experience.industry %> /
  
    <a>【Occupation】</a>
    <%= @experience.occupation %>
  </div>

  <div class="mt-4">
    <a>【Study method】</a>
    <%= @experience.study_method %>
  
    <a>【Learn age】</a>
    <%= @experience.learn_age %>
  
    <a>【Learn hour】</a>
    <%= @experience.learn_hour %>時間
  </div>

  <div class="mt-4">
    <a>【Trigger】</a><br>
    <%= @experience.trigger %>
  </div>

  <div class="mt-4">
    <a>【Ingenuity】</a><br>
    <%= @experience.ingenuity %>
  </div>

  <div class="mt-4">
    <a>【Result】</a><br>
    <%= @experience.result %>
  </div>

  <%= link_to '戻る', 'javascript:history.back()', class: "mt-3 btn btn-outline-secondary" %>
  <%#= link_to '経験談一覧', experiences_path, class: "mt-4 btn btn-outline-secondary" %>
  <%#= link_to '', user_path(current_user), class: "mt-4 btn btn-outline-secondary" %>
</div>