<!DOCTYPE html>
<html>
  <head>
    <title>GrowthTeller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body { padding-bottom: 100px; }
    </style>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <%= link_to "growth teller", root_path , class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if user_signed_in? && current_user.try(:admin?) %>
            <a class="nav-item nav-link"><%= link_to "管理者ページ", rails_admin_path, class: "text-dark" %></a>
            <a class="nav-item nav-link"><%= link_to "経験談一覧", experiences_path, class: "text-dark" %></a>
            <a class="nav-item nav-link"><%= link_to "経験談作成", new_experience_path, class: "text-dark" %></a>
            <a class="nav-item nav-link"><%= link_to "マイページ", user_path(current_user), class: "text-dark" %></a>
            <a class="nav-item nav-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-dark" %></a>
          <% elsif user_signed_in? %>
            <a class="nav-item nav-link"><%= link_to "経験談一覧", experiences_path, class: "text-dark" %></a>
            <a class="nav-item nav-link"><%= link_to "経験談作成", new_experience_path, class: "text-dark" %></a>
            <a class="nav-item nav-link"><%= link_to "マイページ", user_path(current_user), class: "text-dark" %></a>
            <a class="nav-item nav-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-dark" %></a>
          <% else %>
            <a class="nav-item nav-link text-dark"><%= link_to "新規登録", new_user_registration_path, class: "text-dark" %></a>
            <a class="nav-item nav-link"><%= link_to "ログイン", new_user_session_path, class: "text-dark" %></a>
          <% end %>
        </div>
      </div>
    </nav>

      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

      <%= yield %>

    <footer class="fixed-bottom text-center text-black bg-warning" style="height: 80px;">
      <div class="container p-4 h5">© 2022 growth-teller All Rights Reserved.</div>
    </footer>

  </body>
</html>
